.flex-container{
   display: flex;
   border: 2px solid black;
   height: 45vh; 
   /* flex-direction:column-reverse ; */
    justify-content: center;


}

.flex-item{
    background-color: aqua;
    border: 2px Bolt black;
    margin: 2px;
    width: 120px;
    height: 120px;
    
}
.grid-container{
 display: grid;
 
 background-color: #2196F3;
 grid-template-columns: auto auto auto;
 padding: 10px;
 
}

.grid-item{
 border: 1px solid rgba(0,0,0,0.8);
 background-color: rgba(255,255,255,0.8);
 font-size: 30px;
  padding: 20px;
 text-align: center;
}